/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0043B3;
  --ifm-color-primary-dark: #0033A3;
  --ifm-color-primary-darker: #002393;
  --ifm-color-primary-darkest: #001383;
  --ifm-color-primary-light: #0053C3;
  --ifm-color-primary-lighter: #0063D3;
  --ifm-color-primary-lightest: #0073E3;
  --ifm-code-font-size: 95%;
}

:root, h2, h3, h4, h5 {
  font-family: "Noto Sans", sans-serif;
}

.footer--dark {
  --ifm-footer-background-color: #212121;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #0073E3;
  --ifm-color-primary-dark: #0053C3;
  --ifm-color-primary-darker: #0033A3;
  --ifm-color-primary-darkest: #001383;
  --ifm-color-primary-light: #0053C3;
  --ifm-color-primary-lighter: #0063D3;
  --ifm-color-primary-lightest: #0073E3;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
